$small-screen-width: 992px;

.browse-header {
	position: relative;
	.browse-header-form {
		position: absolute;
		bottom: 0;
		right: 0;
		@media screen and (max-width: $small-screen-width) {
			position: static;
		}
		form {
			margin: 0;
			text-align: right;
			@media screen and (max-width: $small-screen-width) {
				text-align: left;
			}
		}
	}
}

/*
========== PollView Component ==========
*/
.poll-list-chart {
	width: 300px;
}

/*
========== PollView Component ==========
*/
$btn-spacer: 10px;
$view-width: 90%;

.share-btn {
	margin-right: $btn-spacer;
	width: 150px;
	@media screen and (max-width: 534px) {
		margin-right: 0;
		margin-bottom: $btn-spacer;
		width: 100%;
	}
}

.btn-group, .poll-view-chart, .share-btn-group, .share-header {
	margin: 0 auto;
	width: $view-width;
}

/*
========== d3 Chart ==========
*/

.d3-chart {
	background: grey;
	border-radius: 5px;

	.d3-title {
		font-size: 20px;
	}
}