$md-screen-width: 992px;
$sm-screen-width: 768px;
$xs-screen-width: 480px;

.browse-header {
	position: relative;
	.browse-header-form {
		position: absolute;
		bottom: 0;
		right: 0;
		@media screen and (max-width: $md-screen-width) {
			position: static;
		}
		form {
			margin: 0;
			text-align: right;
			@media screen and (max-width: $md-screen-width) {
				text-align: left;
			}
		}
	}
}

/*
========== PollsList Component ==========
*/
.home-chart {
	.chart {
		height: 500px;
	}
}

/*
========== PollsList Component ==========
*/
$sm-chart-height: 300px;
$xs-chart-height: 200px;

.polls-list-chart {
	.chart {
		height: $sm-chart-height;
		width: 100%;
		@media screen and (max-width: $xs-screen-width) {
			height: $xs-chart-height;
			margin: 0 auto;
		}
	}
}

.polls-list-panel {
	@media screen and (max-width: $md-screen-width) {
		margin-left: auto;
		margin-right: auto;
		width: 80%;
	}
	.panel-body {
		height: $sm-chart-height + 100px;
		@media screen and (max-width: $xs-screen-width) {
			height: $xs-chart-height + 80px;
		}
	}
}

.voting-form {
	.voting-btn, .voting-options {
		width: 100%;
	}
}

/*
========== PollView Component ==========
*/
$btn-spacer: 10px;
$view-width: 100%;

.share-btn-group {
	.share-btn {
		margin-top: $btn-spacer;
		width: $view-width;
	}
}

.share-header {
	margin-top: 75px;
}

.poll-view-chart {
	.chart {
		height: 500px;
		@media screen and (max-width: $xs-screen-width) {
			height: 400px;
		}
	}
}

.poll-view-container {
	margin-top: 30px;
	@media screen and (max-width: $xs-screen-width) {
		margin-top: 10px;
		width: 90%;
	}
}

/*
========== d3 Chart ==========
*/

.d3-chart {
	border-radius: 5px;
}

.d3-legend {
	list-style-type: none;
	padding: 0;
	text-align: center;
	.d3-legend-item {
		display: inline-block;
		margin-right: 10px;
	}
	.d3-legend-color {
		display: inline-block;
		border-radius: 2px;
		height: 10px;
		margin-right: 5px;
		width: 10px;
	}
}