$small-screen-width: 992px;

.browseHeader {
	position: relative;
	.browseHeaderForm {
		position: absolute;
		bottom: 0;
		right: 0;
		@media screen and (max-width: $small-screen-width) {
			position: static;
		}
		form {
			margin: 0;
			text-align: right;
			@media screen and (max-width: $small-screen-width) {
				text-align: left;
			}
		}
	}
}

/*
========== React Component Chart ==========
*/

.chart {
	margin: 0 auto;
}

/*
========== d3 Chart ==========
*/

.d3-chart {
	background: grey;
	border-radius: 5px;

	.d3-title {
		font-size: 20px;
	}
}